
body {
    font-family: sans-serif;
    background-image: linear-gradient(white,blue);
}
.link-nav{
    color: blue;
}
p {
    color: lightblue;
}
h1 {
    color: blue;
}
li {
    color: blue;
    font-size: 30px;
}
.link-header {    
background-color: lightblue;
text-decoration: none;
}
body {
    background-color: coral;
}
.kar {
    border: 5px solid green;
}
.link-text:hover {
    color: whitesmoke;
}
